/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

body {
  background-color: rgba(0, 0, 0, 0.904);
  background-image: url("assets/cinema-curtains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: $body-font;
  margin-top: 68px;
  min-width: 550px !important;
}

.no-padding {
  padding: 0px !important;
}

.container-fluid {
  max-width: 1920px;
  background-color: #000000c9;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  -webkit-box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.473);
  -moz-box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.473);
  box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.473);
  padding: 0px 50px 0px 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-weight: 600;
}

:focus {
  outline: none !important;
  box-shadow: none !important;
}

.smooth {
  transition: All 0.6087s ease;
  -webkit-transition: All 0.6087s ease;
  -moz-transition: All 0.6087s ease;
  -o-transition: All 0.6087s ease;
}

.no-hover-shadow {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.label {
  font-weight: 600;
}

//CAROUSEL
.carousel-body:hover {
  opacity: 0.9;
}

.carousel-floating {
  position: absolute;
  background: rgba(0, 0, 0, 0.925);
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-30deg);
  padding: 20px 150px 20px 150px;
  top: 50px;
  left: -85px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: All 0.6087s ease;
  -webkit-transition: All 0.6087s ease;
  -moz-transition: All 0.6087s ease;
  -o-transition: All 0.6087s ease;
}

.carousel-control-next,
.carousel-control-prev {
  width: 6%;
}

.carousel-control-next:hover {
  -moz-box-shadow: inset -220px -0px 31px -30px rgb(0, 0, 0);
  -webkit-box-shadow: inset -220px -0px 31px -30px rgb(0, 0, 0);
  box-shadow: inset -220px -0px 31px -30px rgb(0, 0, 0);
}

.carousel-control-prev:hover {
  -moz-box-shadow: inset 220px -0px 31px -30px rgb(0, 0, 0);
  -webkit-box-shadow: inset 220px -0px 31px -30px rgb(0, 0, 0);
  box-shadow: inset 220px 0px 31px -30px rgb(0, 0, 0);
}

#container {
  width: 100%;
  margin: 5px auto;
  padding: 0;
  .ng2-carouselamos-container {
    width: 100%;
    margin: auto;
  }
  .slide-items {
    margin-right: 10px;
    img {
      width: 210px;
    }
  }
}

.slide-items:hover {
  cursor: pointer;
  opacity: 0.7;
}

.carousel-item-body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}

.carousel-indicators {
  top: 0;
}

.cast-container {
  background-color: $light-bg;
  margin: 10px;
  color: $dark-font;
  border-radius: 5px;
}

.cast-container h5 {
  padding: 10px 0px 0px 0px;
  font-size: 15px;
  margin-bottom: 0;
}

.cast-container span {
  font-size: 12px;
  line-height: 0.3;
}

.carousel-small-header {
  text-align: left !important;
  font-weight: 100;
  padding: 20px;
}

.slides-wrapper {
  width: 100%;
}

.ng2-carouselamos-wrapper {
  width: 100% !important;
}

.carousel-titles {
  padding: 30px;
  background-color: #00000085;
  position: absolute;
  z-index: 99;
  bottom: 0; /* attaches the element to the bottom */
  top: 1;
  left: 0; /* attaches the element to the left-side */
  right: 0; /* attaches the element to the right-side */
}

.carousel-titles:hover {
  cursor: pointer;
  opacity: 0.7;
}

.big-carousel-image {
  min-height: 100%;
  overflow: hidden;
}

.carousel-item {
  height: 600px;
}

.controls {
  height: 100% !important;
}

.small_carousel-control-container {
  height: 100% !important;
}

.small-carousel-control {
  height: 100%;
}
.carousel-control-prev-icon:hover {
  opacity: 1;
}

//BTN
.btn {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 0.825rem;
  letter-spacing: 0.3em;
  border-radius: 0;
  padding: 18px 80px 20px;
  transition: all 0.7s ease-out;
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
}

.btn-primary {
  border: 1px solid $primary-button-color;
  color: $primary-button-color;
}

.btn-primary:hover {
  border: 1px solid $primary-button-color;
  color: $body-font;
  background-color: $primary-button-color;
}

.btn:hover {
  color: #fff;
  background-position: right center;
}

//INPUT
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: inline-block;
  background: transparent;
  color: $body-font;
  font-style: normal;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $body-font;
  padding: 18px;
  transition: all 0.7s ease-out;
  text-decoration: none;
  margin: 0.625rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  color: $body-font;
  background: transparent;
  border-bottom: 2px solid $body-font;
}

.btn-transparent {
  padding: 18px 25px 20px 25px;
  color: $body-font !important;
}

.btn-transparent:hover {
  color: $body-font-hover;
}

.dropdown-menu {
  background: $body-font;
  color: $dark-font;
  font-style: normal;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $body-font;
  padding: 18px;
  text-decoration: none;
}

.dropdown-item:hover {
  color: $body-font;
  background-color: $dark-font;
}

.dropdown-item:focus {
  background-color: $focus-color;
}

.dropdown-item {
  color: $dark-font;
}
